/tools/Java/Auto/nbproject/private/
/tools/Java/Auto/build/
/tools/Java/GitHubActionFindAndReplace/nbproject/private/
/tools/Java/JavaCommandLineArgsTool/nbproject/private/
/tools/Java/JavaCommandLineArgsTool/build/