.main_content {
    flex: 1;

    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 40px;

    margin-bottom: 100px;
}

.header {
    margin-bottom: 400px;
}

.header_text {
    font-size: 64px;
    line-height: 100%;
    font-family: rakkas;
    text-align: left;
    text-transform: uppercase;
}

.archive_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.box_title {
    flex: 1;
}

.archive_box_content {
    flex: 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
}

.box_title,
.revision_header {
    font-size: 24px;
    font-family: rakkas;
    text-align: left;
    text-transform: uppercase;
    line-height: 100%;
    margin-bottom: 30px;
}

.nav_button_div {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 20px;
    margin-top: 5px;

}

.nav_button_anchor {
    background-color: #000000;
    text-decoration: none;
    padding: 5px;
    padding-bottom: 1px;
    font-weight: bold;
    border-radius: 150vw;


    font-size: 20px;
    font-family: inconsolata;
    text-align: left;
    color: rgb(234, 234, 238);
    text-decoration: none;

}

.nav_button_anchor:hover {
    background-color: #303030;
}

.nav_button_anchor_flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;

    align-items: center;
}

.nav_button_anchor_flex_svg_wide {
    margin-left: 5px;
}

.nav_button_anchor_flex_text {
    flex: 1;

    margin-right: 10px;
    margin-bottom: 5px;
}

.big_break_spacer {
    margin-top: 100px;
}