.main_content {
    flex: 1;

    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 40px;

    margin-bottom: 100px;
}

.header {
    margin-bottom: 400px;
}

.header_text {
    font-size: 64px;
    line-height: 100%;
    font-family: rakkas;
    text-align: left;
    text-transform: uppercase;
}

.archive_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    margin-bottom: 75px;
}

.box_title {
    flex: 1;
}

.archive_box_content {
    flex: 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
}

.box_title,
.revision_header {
    font-size: 24px;
    font-family: rakkas;
    text-align: left;
    text-transform: uppercase;
    line-height: 100%;
    margin-bottom: 30px;
}

.revision_header:link,
.revision_header:visited {
    color: #1470AF;
}
