@font-face {
    src: url(fonts/Inconsolata-Regular.ttf);
    font-family: inconsolata;
}

@font-face {
    src: url(fonts/Rakkas-Regular.ttf);
    font-family: rakkas;
}

body {
    margin: 0;
    background-color: rgb(234, 234, 238);
    margin-bottom: 500px;
}

.nav_bar {
    white-space: nowrap;
    position: relative;
    margin-top: 2.8vh;
    margin-left: 1.4vw;
    margin-right: 1.4vw;
    line-height: 7vh;
    border: none;
    background: none;
    color: black;
    text-decoration: none;
}

.nav_bar:hover {
    color: rgb(90, 90, 90);
}

.nav_bar:active {
    color: rgb(70, 70, 70);
}

.header_locations {
    font-family: inconsolata;
    font-size: 22px;

}

.header_title {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 5px;

    font-family: rakkas;
    font-size: 35px;
    text-align: center;
}

/*
<div class="banner_flexbox">
      <div class="banner_space_left">
        left
      </div>
      <div class="banner_image_holder">
        <img class="banner_image" src="images/nebula.jpg"
          alt="Banner Image of a Deep Purple Nebula">
      </div>
      <div class="banner_space_right">
        right
      </div>
    </div>
*/
.banner_flexbox {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner_space_left,
.banner_space_right {
    flex: 1;
}

.banner_image_holder {
    position: relative;
    flex: 10;

    height: 600px;
}

.banner_image {    
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.banner_text, 
.banner_subtext {
    left: 0;
    position: absolute;
    text-align: center;

    margin: 0;
    line-height: 90%;
    top: 120px;
    width: 100%;
    
    color: rgb(234, 234, 238);
    
    
}

.banner_text{
    top: 120px;
    font-size: 120px;
    font-family: rakkas;
}

.banner_subtext {
    top: 250px;
    font-size: 50px;
    font-family: inconsolata;
}