.content {
    flex: 1;

    margin-left: 10vw;
    margin-right: 10vw;

    margin-top: 70px;
}

.main_title {
    font-size: 64px;
    line-height: 100%;
    font-family: rakkas;
    text-align: left;
    text-transform: uppercase;
}

.info_bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 40px;

    margin-top: 20px;
}

#info_bar_type {
    flex: 1;
}

.info_bar_section {
    overflow: hidden;

}

.info_bar_header {
    font-family: inconsolata;
    font-size: 20px;
}

.info_bar_value {
    font-family: inconsolata;
    font-size: 24px;
    font-weight: bold;
}

.nav_button_div {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 20px;
    margin-top: 5px;

}

.nav_button_anchor {
    background-color: #000000;
    text-decoration: none;
    padding: 5px;
    padding-bottom: 1px;
    font-weight: bold;
    border-radius: 150vw;


    font-size: 20px;
    font-family: inconsolata;
    text-align: left;
    color: rgb(234, 234, 238);
    text-decoration: none;

}

.nav_button_anchor:hover {
    background-color: #303030;
}

.nav_button_anchor_flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;

    align-items: center;
}

.nav_button_anchor_flex_text {
    flex: 1;

    margin-right: 10px;
}

.img_txt_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 100px;
}

.img_txt_section_txt,
.img_txt_section_img_div {
    flex: 1;
}

.proj_p {
    margin-top: 0px;
}

.img_txt_section_img {
    width: 100%;

    border-radius: 10px;
}

.no_border_radius {
    border-radius: 0px;
}

.break_spacer {
    margin-top: 50px;
}

.txt_section {
    font-size: 24px;
    font-family: inconsolata;
    text-align: left;
    color: #000000;
    text-decoration: none;
    line-height: 150%;
}

.dual_imgs_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 100px;
}

.dual_imgs_single {
    flex: 1;
}

.dual_imgs_img {
    width: 100%;
    border-radius: 10px;
}

.image_desc {
    font-size: 20px;
    font-family: inconsolata;
    text-align: left;
    color: rgb(50, 50, 50);
    text-decoration: none;
    line-height: 150%;
}

.cust_anchor {
    color: #1470AF;
}

.cust_anchor:visited {
    color: #1470AF;
}

.footer {
    margin-top: 60px;
}